body
{
	font-family: Georgia, serif;
	color: rgb(81, 41, 129) ;
	background-color: rgb(221, 221, 221);
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
}

h1, h2, h3, h4, h5
{
	font-family: Impact;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: rgb(185, 39, 161);
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: rgb(102, 60, 179);
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}