body
{
	font-family: American Typewriter, serif;
	color: #05386B ;
	background-color: #5CDB95;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
}

h1, h2, h3, h4, h5
{
	font-family: American Typewriter, serif;
	text-align: center;
	line-height: 0px;
	font-weight: lighter;
}

a
{
	text-decoration: none;
	color: #05386B;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #04294e;
}

figure
{
	text-align: center;
}


nav
{
	text-align: center;
}